.input{
    height: 35px;
    width: 300px;
    display: block;
    padding-left: 10px;
    margin: auto;
    margin-top: 20px;
}

.btn{
    height: 35px;
    width: 300px;
    display: block;

    margin: auto;
    margin-top: 20px;
}